.logo-bar {
  background-color: #f2f2f2;
}
.wrapper {
  max-width: 1440px;
  max-height: 560px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  padding: 20px 60px;
  margin: 0 auto;
}
.text-logo {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.logo-wrapper {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.logo {
  margin: 0 15px;
}
