.product {
  padding: 20px;

  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 4px;

  h3 {
    height: 20px;
  }

  p {
    height: 100px;
    overflow: hidden;
    width: 90%;
    display: inline-block;
    text-overflow: ellipsis;
  }

  img {
    max-width: 100%;
  }

  a {
    display: block;
    background: #03ffa5;
    border-radius: 6px;
    text-align: center;
    padding: 15px 0;
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
}
