$base-color-black: #000;

.footer {
  background-color: $base-color-black;
  padding: 0px 0;

  .wrapper-footer {
    max-width: 1440px;
    margin: auto;
    padding: 20px 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .social-media {
      display: flex;

      .media {
        margin-right: 17px;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}
